<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/main.js"></script>
</head>

<body>

<div class="conteiner registration">
    <h2>Vali laua</h2>
    <label for="area_select">Tsoon</label>
    <br>
    <select name="area" id="area_select" class="filter">
    </select>
    <br>
    <fieldset name="preference" class="preferences">
        <legend>Eelistus</legend>
    </fieldset>
    <br>
    <form action="/api/booking/book" method="POST">
        <div class="restaurant-grid">

        </div>
        <br>
        <label for="clientName">Ees- ja perekonnanimi</label>
        <br>
        <input type="text" id="clientName" class="registration" required placeholder="Sisestage nimi">
        <br>
        <label for="phonenumber">Telefoni number</label>
        <br>
        <input type="text" id="phonenumber" class="registration" required placeholder="Sisestage telefoni numbri">
        <br>
        <button type="submit">Registreeri</button>
    </form>
</div>
</body>

</html>